
<footer>
    <div class="container">
      <div class="footer_menu">
          <ul class="ft_sub_menu">
            <li>
              <a class="ft_links" href="#">Help Center</a>
            </li>
            <li>
              <a class="ft_links" href="#">Report A Product</a>
            </li>
            <li>
              <a class="ft_links" href="#">About us</a>
            </li>
              <a class="ft_links" href="#">Terms Of Use</a>
            </li>
            <li>
              <a class="ft_links" href="#">Privacy and Cookie</a>
            </li>
            <li>
              <a class="ft_links" href="#">Become A Seller</a>
            </li>
        </div>
        <div class="ft_menu_item">
          <ul class="ft_sub_menu2">
            <li class="ft_sos"><a class="ft_links" href="#"><img
                  class="ft_socials"
                  src="/svg/twitter.svg"
                  alt="twitter"
                /></a></li>
            <li class="ft_sos"><a class="ft_links" href="#"><img
                  class="ft_socials"
                  src="/svg/instagram.svg"
                  alt="instagram"
                /></a></li>
            <li class="ft_sos"><a class="ft_links" href="#"><img
                  class="ft_socials"
                  src="/svg/facebook.svg"
                  alt="facebook"
                /></a></li>
            <li class="ft_sos"><a class="ft_links" href="#"><img
                  class="ft_socials"
                  src="/svg/whatsapp.svg"
                  alt="whatsapp"
                /></a></li>
          </ul>
        </div>
      </div>
  
      <div class="ft_bt">
        <p>&copy; 2022 Arts of Electronics, Inc. All rights reserved.</p>
      </div>
    </div>
  </footer>