
    <nav>
      <div class="container">
        <div class="logo">
          <span id="menu"
            ><img
              style="width: 45px; height: 42px"
              src="/svg/menu_black_24dp.svg"
              alt="svg"
          /></span>
          <a href="/"><h2>Art of Electronics</h2></a>
        </div>
        <ul class="nav_menu">
          <li class="menu_item">
            <a href="/profile" id="user" class="links">
              <img
                src="/svg/person_black_24dp.svg"
                alt="icon"
                class="mobile_icon"
              />
            </a>
          </li>
          <li class="menu_item" class="nav_cart_items">
            <a href="/cart" class="links">
              <span><img src="/svg/cart.svg" alt="icon" class="mobile_icon" /></span><span class="cart_length">0</span>
            </a>
          </li>
        </ul>
        <form class="search" action="/search" method="post">
          <input type="search" name="" id="" />
          <button type="submit">
            <img class="mobile_icon" src="/svg/search.svg" alt="icon" />
          </button>
        </form>
      </div>
    </nav>