
    <nav>
      <div class="container">
        <div class="logo">
          <span
            ><img
              style="width: 50px; height: 35px"
              src="/svg/menu_black_24dp.svg"
              alt="svg"
          /></span>
          <h2>Art of Electronics</h2>
        </div>
        <ul class="nav_menu">
          <li class="menu_item">
            <a href="/profile" class="links">
              <img
                src="/svg/person_black_24dp.svg"
                alt="icon"
                class="mobile_icon"
              />
            </a>
          </li>
          <li class="menu_item">
            <a href="/cart" class="links">
              <img src="/svg/cart.svg" alt="icon" class="mobile_icon" />
            </a>
          </li>
        </ul>
        <form class="search" action="/search" method="post">
          <input type="search" name="" id="" />
          <button type="submit">
            <img class="mobile_icon" src="/svg/search.svg" alt="icon" />
          </button>
        </form>
      </div>
    </nav>