
    <!--  start of side menu-->
    <dialog class="side_menu">
      <div class="wrapper">
        <div class="side_nav">
          <h2>Art of Electronics</h2>
        </div>
        <div class="side_cat">
          <h3>Popular Category</a>
          </h3>
          <ul class="cat_menu">
            {{#each categories}}
            <li>
              <a href="/p/{{this.category}}">{{this.category}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
        <div class="side_cat">
          <h3>Home Products</h3>
          <ul class="cat_menu">
            <li>
              <a href="#">Wireless Bulbs</a>
            </li>
            <li>
              <a href="#">Inverters</a>
            </li>
            <li>
              <a href="#">Power Banks</a>
            </li>
            <li>
              <a href="#">Laptop Accessories</a>
            </li>
            <li>
              <a href="#">Cables</a>
            </li>
          </ul>
        </div>
      </div>
    </dialog>
    <!--  end of side menu-->