<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/basic/utils.css" media="all"/>
    <link rel="stylesheet" href="/css/basic/login.css"/>
    <link rel="stylesheet" href="/css/basic/nav.css"/>
    <link rel="stylesheet" href="/css/basic/footer.css"/>
    <link rel="stylesheet" href="/css/basic/loader.css">
    <link rel="stylesheet" href="/css/cart/cart_items.css" />
    <link rel="stylesheet" href="/css/cart/subtotal.css" />
    <link rel="stylesheet" href="/css/cart/cart.css" />
    <title>Arts of Electronics - Cart Page</title>
  </head>
  <body>
    <!--   start of top section-->
    {{> pre_nav}}
    <!--  end of top section   -->
    <!--   start of navbar -->
    {{> navbar}}
    <!---    end of navbar--->
    <!---start of forms ----->
    {{> reg_forms}}
    <!--- end of forms ---->
    <!-- start of loader modal  -->
    {{> loader}}
    <!-- end of loader modal  -->
    <section class="cart_section">
      <div class="container">
        <div class="cart_items">
          <div class="cart_title">
              <h1>Shopping Cart (<span id="cart_value">0</span>)</h1>
              <input type="checkbox" class="" id="genCheckbox">
              <label id="checkLab" for="genCheckbox">Select All</label>
          </div>
          <!-- start cart items-->
          {{> cart_item}}
          <!----- end of product picked --->
        </div>
        {{> subtotal}}
      </div>
    </section>
    <!--- end of other pages ---->
    {{> footer}}
  <script src="/js/basic/form.js"></script>
  <script src="/js/cart/cart.js"></script>
  </body>
</html>