<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/basic/utils.css" media="all"/>
    <link rel="stylesheet" href="/css/basic/nav.css"/>
    <link rel="stylesheet" href="/css/checkout/payment_status.css"/>
    <title>Payment Status - Art of Electronics</title>
</head>
<body>
    <!-- start of navbar-->
    {{> navbar}}
    <!--- end of navbar--->
    <!-- start of message-->
    <section>
        <div class="container">
            <div class="message">
                <h2>{{message}}</h2>
            </div>
        </div>
    </section>
    <!-- end of message-->
</body>
</html>