<dialog class="email_comfirm">
    <div class="container">
        <span id="close_email">&times;</span>
        <h3>A comfirmation code has been sent to ur email.</h3>
        <p>Check ur email for the comfirmation code...</p>
        <div class="comfirm_code">
            <input type="text" maxlength="1" name="box1" class="box code_val1">
            <input type="text" maxlength="1" name="box2" class="box code_val2">
            <input type="text" maxlength="1" name="box3" class="box code_val3">
            <input type="text" maxlength="1" name="box4" class="box code_val4">
        </div>
        <div class="not_found">
            <button id="code_sub">Submit</button>
            <p>Did't receive it?  <span id="resend_code">Resend</span></p>
        </div>
        <div class="msg">
            <p class="code_err">_</p>
        </div>
    </div>
</dialog>