
<footer>
  <div class="container">
    <div class="footer_menu">
      <div class="ft_menu_item">
        <span class="ft_menu_title">LET US HELP YOU</span>
        <ul class="ft_sub_menu">
          <li>
            <a class="ft_links" href="#">Help Center</a>
          </li>
          <li>
            <a class="ft_links" href="#">Contact Us</a>
          </li>
          <li>
            <a class="ft_links" href="#">How to shop on Art of Electronics?</a>
          </li>
          <li>
            <a class="ft_links" href="#">Delivery options and timelines</a>
          </li>
          <li>
            <a class="ft_links" href="#">How to return a product on Art of
              Electronics?</a>
          </li>
          <li>
            <a class="ft_links" href="#">Corporate and bulk purchases</a>
          </li>
          <li>
            <a class="ft_links" href="#">Report a Product</a>
          </li>
          <li>
            <a class="ft_links" href="#">Ship your package anywhere in Nigeria</a>
          </li>
          <li>
            <a class="ft_links" href="#">Dispute Resolution Policy</a>
          </li>
        </ul>
      </div>
      <div class="ft_menu_item">
        <span class="ft_menu_title">ABOUT </span>
        <ul class="ft_sub_menu">
          <li>
            <a class="ft_links" href="#">About us</a>
          </li>
          <li>
            <a class="ft_links" href="#">Art of Electronics careers</a>
          </li>
          <li>
            <a class="ft_links" href="#">Art of Electronics Express</a>
          </li>
          <li>
            <a class="ft_links" href="#">Terms and Conditions</a>
          </li>
          <li>
            <a class="ft_links" href="#">Privacy and Cookie Notice</a>
          </li>
          <li>
            <a class="ft_links" href="#">Art of Electronics Prime</a>
          </li>
          <li>
            <a class="ft_links" href="#">Art of Electronics Global</a>
          </li>
          <li>
            <a class="ft_links" href="#">Flash Sales</a>
          </li>
          <li>
            <a class="ft_links" href="#">Electronic Festival 2022</a>
          </li>
        </ul>
      </div>
      <div class="ft_menu_item">
        <span class="ft_menu_title">MAKE MONEY WITH US</span>
        <ul class="ft_sub_menu">
          <li>
            <a class="ft_links" href="#">Sell on Art of Electronics</a>
          </li>
          <li>
            <a class="ft_links" href="#">Become a Sales Consultant</a>
          </li>
          <li>
            <a class="ft_links" href="#">Become a Vendor Service Provider</a>
          </li>
          <li>
            <a class="ft_links" href="#">Become a Logistics Service Partner</a>
          </li>
          <li>
            <a class="ft_links" href="#">Join the Art of Electronics Academy</a>
          </li>
          <li>
            <a class="ft_links" href="#">Join the Art of Electronics Coding
              Program</a>
          </li>
        </ul>
      </div>
      <div class="ft_menu_item">
        <span class="ft_menu_title">CONNECT US ON</span>
        <ul class="ft_sub_menu">
          <li class="ft_sos"><a class="ft_links" href="#"><img
                class="ft_socials"
                src="/svg/twitter.svg"
                alt="twitter"
              />Twitter</a></li>
          <li class="ft_sos"><a class="ft_links" href="#"><img
                class="ft_socials"
                src="/svg/instagram.svg"
                alt="instagram"
              />Instagram</a></li>
          <li class="ft_sos"><a class="ft_links" href="#"><img
                class="ft_socials"
                src="/svg/facebook.svg"
                alt="facebook"
              />Facebook</a></li>
          <li class="ft_sos"><a class="ft_links" href="#"><img
                class="ft_socials"
                src="/svg/whatsapp.svg"
                alt="whatsapp"
              />Whatsapp</a></li>
        </ul>
      </div>
    </div>

    <div class="ft_bt">
      <p>&copy; 2022 Arts of Electronics, Inc. All rights reserved.</p>
    </div>
  </div>
</footer>