
.featured{
    margin: 2rem auto;
    padding: 1px;
}
.featured h3{
    height: 2rem;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .3rem;
}
.features{
    width: 100%;
    margin: auto;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .5rem;
    background-color: white;
}
.features .cat_box{
    width: 100%;
    height: 8rem;
}
.featured .cat_box .cat_img{
    width: 80%;
    height: 7rem;
    background-color: lightgray;
    margin: .5rem auto;
}
.featured .cat_box h5{
    font-size: .7rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_section{
    width: 100%;
    margin: 2rem 0;
    padding: 1px;
}
.sub_section h3{
    height: 3rem;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    align-items: center;
    margin: .5rem auto .3rem;
}
.sub_section h3 a{
    width: 7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    color: black;
}
.sub_section h3 span{
    font-size: 1.1rem;
}

.sub_section .items{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    overflow: auto;
    white-space: nowrap;
}
.sub_section .card{
    width: 160px;
    height: 210px;
    background-color: var(--white-color);
    padding: 0.5rem;
    margin-bottom: .4rem;
    position: relative;
}
.sub_section .card_text{
    font-size: 0.9em;
    color: black;
    font-weight: 600;
    margin: 0.3rem 0;
}
.sub_section .card .card_img{
    height: 150px;
    width: 150px;
}
.sub_section .card_price{
    display: flex;
    align-items: center;
}