
/*  start of collections */
.collection{
    width: 100%;
    height: fit-content;
    margin: .2rem 0;
    padding: .2rem 0;
}
.collection > h3{
    height: 2.2rem;
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
.collection .container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.collection .card{
    width: 90px;
    padding: .3rem .4rem;
    font-size: .65em;
}
.collection .card .card_imgs{
    width: 80%;
    height: 60px;
    margin: auto;
    padding: .2rem 0;
}
.collection .card .card_text{
    padding: .2rem 0;
}
/*  end of collections */


/*  start of more products */

.recent_products{
    width: 100%;
    margin: 1rem 0;
    padding: .2rem 0;
    background-color: var(--white-color);
}
.recent_products > h3{
    height: 2.2rem;
    margin: .5rem auto;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    background-color: rgb(135, 235, 198);
}
.recent{
    overflow: auto;
    white-space: nowrap;
    display: grid;
    gap: .2rem;
    grid-template-columns: repeat(10, 1fr);
}
.recent .card{
    width: 130px;
    min-height: 110px;
    margin-bottom: .4rem;
}
.recent .card_text{
    font-size: 0.65em;
    color: black;
    font-weight: 600;
    margin: 0.2rem 0 .4rem;
    padding-top: 0.2rem;
}
.recent .card .card_img{
    height: 100px;
    max-width: 118px;
    width: 100%;
}
/*  end of Recent products */

/*  start of More*/
.more{
    width: 100%;
    margin: 1rem 0;
    padding: .2rem 0;
    background-color: var(--white-color);
}
.more > h3{
    height: 2.2rem;
    margin: .5rem auto;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    background-color: skyblue;
}
.mores{
    display: grid;
    gap: .3rem;
    grid-template-columns: repeat(3, 1fr);
    transition: 2s;
}
.mores .card{
    width: 120px;
    min-height: 110px;
    margin-bottom: .4rem;
}
.mores .card_text{
    font-size: 0.65em;
    color: black;
    font-weight: 600;
    margin: 0.2rem 0;
    padding-top: 0.5rem;
}
.mores .card .card_img{
    height: 100px;
    max-width: 118px;
    width: 100%;
}
.mores .card_price{
    display: flex;
    align-items: center;
    color: var(--text-primary);
    font-size: .8rem;
    font-weight: 800;
}

/*  start of footer */
