.product {
  margin: 0.8rem 0;
  padding: 0.3rem 0;
  background-color: var(--white-color);
}
.product_img {
  width: 98%;
  height: 16rem;
  max-height: 18rem;
  margin: auto;
}
.product_details {
  padding: 0.2rem 0.4rem;
  margin: 0.7rem 0;
}
.product_details h3 {
  margin: 0.3rem 0;
}
.product_details #category {
  color: var(--text-primary);
}
.product_details .pricing {
  margin: 0.2rem 0;
  font-weight: 800;
}
.product_details .rating {
  display: flex;
  height: 1.8rem;
  align-items: center;
  justify-content: space-between;
}
.product_details .rating span {
  font-size: 1.5rem;
  color: var(--text-primary);
}
.product_details .rating span:last-child {
  font-size: initial;
  padding-left: 0.2rem;
  color: initial;
}

.cart_btn {
  position: fixed;
  bottom: 0.5rem;
  width: 100%;
  height: 4rem;
  background-color: var(--white-color);
  padding: 0.4rem;
  z-index: 10;
  display: grid;
  grid-template-columns: 20% 70%;
  gap: 9%;
}
.cart_btn button {
  width: 100%;
  height: 3.3rem;
  border-radius: 4px;
  color: white;
  background-color: var(--white-color);
  border: 2px solid var(--text-primary);
}
.cart_btn button:last-child {
  font-size: 1.3rem;
  font-weight: 600;
  background: linear-gradient(90deg, blue, rgba(0, 0, 255, 0.5));
}

.product_modal {
  position: fixed;
  width: 100%;
  top: 0;
  border: none;
  padding: 0.1rem .4rem;
  z-index: 10;
  background-color: green;
  display: none;
}
.product_modal .top {
  position: relative;
  width: 100%;
  height: 2.8rem;
  display: flex;
  align-items: center;
  color: white;
}
.product_modal .top h3 {
  display: none;
}

.p_qty {
  margin: 0.5rem 0;
}
.qty_control {
  height: 2.5rem;
  margin: 0.3rem 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.qty_btn {
  background-color: rgba(0, 0, 255, 0.712);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.product_data {
  width: 100%;
  background-color: white;
  box-shadow: var(--box-shadow-big);
  padding: 0.4rem;
  margin: 1rem 0;
  border-radius: var(--border);
}

.product_data h2 {
  width: 100%;
  height: 2.8rem;
  border-bottom: 1px solid lightgray;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_data h2 img {
  width: 2.5rem;
}
