.ft_socials{
    width: 28px;
    height: 28px;
}

footer{
    width: 100%;
    margin-top: 2rem;
    background-color: rgba(29, 28, 28, 0.833);
    color: white;
}
footer .container{
    padding: .3rem .2rem;
}
footer .ft_links{
    font-size: 14px;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .2rem 0;
    color: white;
}

footer .ft_sub_menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
footer .ft_sub_menu2{
    margin: .5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.ft_bt{
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid lightgray;
    text-align: center;
}