.mobile_icon{
    width: 28px;
    height: 30px;
}
nav{
    width: 100%;
    background-color: var(--white-color);
}
nav .container{
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-rows: repeat(2, 1fr);
    height: 6.7rem;
    padding: 4px 0;
    gap: 8px;
    align-items: center;
    overflow-x: hidden;
}
nav .logo{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}

nav h2{
    color: var(--text-primary);
    margin-left: .4rem;
}
nav .nav_menu{
    display: flex;
    justify-content: space-between;
    padding-inline-start: .3rem;
}
nav form{
    width: 96%;
    height: 2.6rem;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    grid-column: 1/3;
    border-radius: 16px;
    margin: auto;
}
nav form button{
    border: none;
    padding: 0 10px;
    background: transparent;
}
nav form button .mobile_icon{
    width: 24px;
    height: 24px;
}
nav form input{
    width: 88%;
    height: 100%;
    border-radius:  16px 0 0 16px;
    font-size: large;
    border:none;
    padding-left: 6px;
    background: transparent;
}

.nav_cart_items{
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: .4rem;
}
.nav_cart_items:hover{
    color: var(--text-primary);
}
.cart_length{
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    top: 6px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-size: 14px;
}
/* end of nav bar */