.side_menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: none;
    width: 100%;
    height: 100vh;
    border: none;
}
.side_menu::backdrop{
    background-color: rgba(0, 0, 0, .1);
}
.side_menu .wrapper{
    width: 74%;
    background-color: var(--white-color);
    padding-bottom: 1rem;
    border-bottom-right-radius: 4px;
}
.side_nav {
    height: 3rem;
    color: var(--text-primary);
    padding: .5rem .6rem;
    border-bottom: 1px solid;
}
.side_cat{
    margin: .5rem 0;
    padding: 0 .8rem;
}
.side_cat h3{
    padding: .4rem 0 .5rem;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side_cat h3 img{
    width: 2.4rem;
}
.side_cat .cat_menu li{
    padding: .5rem 0;
}
.cat_menu li a{
    color: rgba(0, 0, 0, 0.9);
    font-size: 1rem;
    font-weight: 700;
}